<div class="d-flex justify-content between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="btn-toolbar md-2 mb-md-0">
    <a routerLink="/products/create" href="javascript:void(0)" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td><img [src]="product.image" width="50" height="50"></td>
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>
        <div class="btn-group mr-2">
          <a href="javascript:void(0)" [routerLink]="['/products', product.id, 'edit']" class="btn btm- btn-outline-secondary">Edit</a>
          <a href="javascript:void(0)" (click)="delete(product.id)" class="btn btn-sm btn-outline-secondary">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-paginator
  [lastPage]="lastPage"
  (pageChange)="refresh($event)"
></app-paginator>
